body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('~/assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans 3', sans-serif ;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}